.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

*.html

homework_01_files
homework_02_files
homework_03_files
homework_04_files
homework_05_files
homework_06_files
homework_07_files
homework_08_files
homework_09_files
homework_10_files
homework_11_files
homework_12_files
homework_13_files
homework_14_files
homework_15_files
homework_16_files
homework_17_files
homework_18_files
homework_19_files
homework_20_files